{% extends "base.html" %}

{% block content %}
<div class="container text-center">

{% if form.errors %}
    <div class="alert alert-warning" role="alert">
        Your username and password didn't match. Please try again.
    </div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-secondary" role="alert">
        Your account doesn't have access to this page. To proceed,
        please login with an account that has access.
    </div>
    {% endif %}
{% endif %}

<form class="form-signin" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label for="inputUsername" class="sr-only">Login</label>
        <input type="text" id="inputUsername" name="{{ form.username.html_name }}" class="form-control" placeholder="Login" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="{{ form.password.html_name }}" placeholder="Password" required>

        <div class="checkbox mb-3">
        <label>
            <!--<input type="checkbox" value="remember-me"> Remember me-->
        </label>
        </div>
        <input type="hidden" name="next" value="{{ next }}">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

</form>

</div>
{% endblock %}