{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Profile {{ user_obj.username }}</h1>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
        <form>
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username</label>
                <input type="text" name="{{ form.username.html_name }}" maxlength="30" id="{{ form.username.id_for_label }}"
                    class="form-control" value="{{ user_obj.username }}">
            </div>
            <div class="form-group">
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Email address</label>
                <input type="text" name="{{ form.email.html_name }}" maxlength="30" id="{{ form.email.id_for_label }}" class="form-control" value="{{ user_obj.email }}">
            </div>
            <div class="form-group">
                {{ form.first_name.errors }}
                <label for="{{ form.first_name.id_for_label }}">First Name</label>
                <input type="text" name="{{ form.first_name.html_name }}" maxlength="30" id="{{ ser_form.first_name.id_for_label }}" class="form-control" value="{{ user_obj.first_name }}">
            </div>
            <div class="form-group">
                {{ form.last_name.errors }}
                <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                <input type="text" name="{{ form.last_name.html_name }}" maxlength="30" id="{{ form.last_name.id_for_label }}"
                    class="form-control" value="{{ user_obj.last_name }}">
            </div>
         <!--   <div class="form-group">
                {{ profile_form.phone.errors }}
                <label for="{{ profile_form.phone.id_for_label }}">Phone</label>
                <input type="text" name="{{ profile_form.phone.html_name }}" maxlength="30" id="{{ profile_form.phone.id_for_label }}"
                    class="form-control" value="{{ user_obj.profile.phone }}">
            </div>
            <div class="form-group">
                {{ profile_form.about.errors }}
                <label for="{{ profile_form.about.id_for_label }}">About</label>
                <textarea type="text" name="{{ profile_form.about.html_name }}" id="{{ profile_form.about.id_for_label }}"
                    class="form-control" ols="40" rows="10" required="" value="{{ user_obj.profile.about }}"></textarea>
            </div>-->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>
{% endblock %}