<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap4 %} 
        {% bootstrap_css %} 
        {% bootstrap_javascript jquery='full' %} 
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
        <script type="text/javascript" src="{% static "js/main.js" %}"></script>

    </head>
    <body>
        {% include 'navbar.html' %}

        <main role="main">
            {% block content %} 
            {% endblock %}
        </main>
    </body>
</html>