<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">RDDT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/posts/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Posts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/posts/">List Posts</a>
                        {% if user.is_authenticated %}
                        <a class="dropdown-item" href="/posts/create/">Add Post</a>
                        {% endif %}
                    </div>
                </li>
            </ul>

        </div>
        <div class="navbar-collapse collapse" id="user_nav">
            
            <ul class="navbar-nav ml-auto">
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/register/">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/login/">Sign in</a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout/">Sign out</a>
                    </li>
                {% endif %}
            </ul>
            <span class="navbar-text">
                {% if user.is_authenticated %}
                    {{ user.username }}
                {% endif %}

            </span>
        </div>
    </nav>
</header>