<div class="container">
    <ul class="list-group">
        {% for comment in comments %}
        {% if not comment.comment %}
        {% include "posts/comments_children.html" %}
        {% endif %}
        {% endfor %}
    </ul>
</div>