<li class="list-group-item" data-item-id="{{ comment.id }}">{{ comment.text }}
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col text-right">
            <button type="button" class="btn btn-outline-success float-right btn-sm" data-toggle="modal"
                data-target="#commentModal" data-item-id="{{ comment.id }}" data-post-id="{{ object.id }}">Ответить</button>
        </div>
    </div>
    {% endif %}
    {%if comment.children %}
    <ul class="list-group">
        {% for ch in comment.children.get_queryset %} 
            {% with comment=ch template_name="posts/comments_children.html" %}
                {% include template_name %}
            {% endwith %}
        {% endfor %}
    </ul>
    {% endif %}

</li>