
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method='POST' action='.' enctype='multipart/form-data'> {% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </div>
                <div class="modal-footer">
    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button data-dismiss="modal" id="save" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-right">
            <button type="button" class="btn btn-outline-success float-right" data-toggle="modal"
            data-target="#commentModal" data-post-id="{{ object.id }}">Добавить комментарий</button>
        </div>
    </div>


   
</div>
