{% extends 'base.html' %}
{% block title %}Posts{% endblock %}
{% block content %}

<div class="container">
{% for obj in object_list %}
<a class="card mb-3 post-list" data-post-id="{{ obj.id }}" href="/posts/{{ obj.id }}/">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ obj.title }}</h5>
        <p class="card-text">{{ obj.text }}</p>
        <p class="card-text"><small class="text-muted">{{ obj.date }}</small></p>
    </div>
</a>

{% endfor %}

</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if object_list.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}">Previous</a></li>
        {% endif %}

        {% for i in object_list.paginator.page_range %}
        {% if object_list.number == i %}
            <li class="page-item disabled"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if object_list.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ object_list.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
