{% extends "base.html" %}

{% block content %}


<div class="container">

    {% if obj %}
    <div class="alert alert-success" role="alert">
        Новый пост добавлен - {{ obj.title }}
    </div>
    {% endif %}


    <form method='POST' action='.' enctype='multipart/form-data'> {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Send</button>
    </form>
   

</div>

{% endblock %}