{% extends 'base.html' %}
{% block title %} {{ object.title }} {% endblock %}
{% block content %}

<div class="container">
    <div class="card mb-3 post-detail>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
            <p class="card-text">{{ object.text }}</p>
            <p class="card-text"><small class="text-muted">{{ object.date }}</small></p>
        </div>
    </div>

{% if user.is_authenticated %}
    {% include "posts/comment_create.html" %}
{% endif %}

{% include "posts/comments_main.html" %}



{% endblock %}

