<li class="list-group-item" data-item-id="{{ comment.id }}">{{ comment.text }}
    {%if comment.children %}
    <ul class="list-group">
        {% for ch in comment.children.get_queryset %} 
        {% with comment=ch template_name="posts/tree_comment.html" %}
        {% include template_name %}
        {% endwith %}
        {% endfor %}
    </ul>
    {% endif %}
</li>